@import "../../css/colors";
@import "../../css/values";

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: $navbarheight;
  width: 100%;
  padding: 0 1vw;
  background: $primarylight;
  z-index: 10;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .logo {
    color: $lightwhite;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 4px;
    padding: 0.5vw 0.7vw;
    margin: 0 0.5vw;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      background-color: rgba(153, 178, 218, 0.5);
    }
  }
  .icon {
    display: flex;
    align-items: start;
    }
  .desktopitems {
    .link {
      text-decoration: none;
      padding: 0.5vw 0.7vw;
      margin: 0 0.5vw;
      transition: 1s all ease-in-out;
      color: $lightwhite;
      font-size: 1.3rem;
      font-weight: 500;
      letter-spacing: 1px;
      border-radius: 4px;
      transition: 0.3s all ease-in-out;
      &:hover {
        background-color:  rgba(240, 234, 165, 0.5);
      }
    }
  }

  .mobileview {
    .mobilemenu {
      position: absolute;
      right: 3vw;
      top: 12.9px;
      padding: 6px 7px 4px 7px;
      border-radius: 10px;
      cursor: pointer;
      transform: scale(1);
      transition: 0.3s all ease-in-out;
    }

    .active {
      transform: scale(0);
      transition: 0.3s all ease-in-out;
    }
  }
}

.mobileMenuModal {
  position: fixed;
  background-color: #3c83f3;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100vh;
  z-index: 5;
  transform: translateY(-100%);
  transition: 0.4s all ease-in-out;

  padding: calc(#{$navbarheight} + 3rem) 0 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  @media (min-width: 850px) {
    display: none;
  }
  .mobileLinks {
    text-decoration: none;
    padding: 10px;
    color: $lightwhite;
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: 1px;
  }
}

.active {
  transform: translateY(0);
  transition: 0.4s all ease-in-out;
}

@media (max-width: 850px) {
  .desktopitems {
    display: none;
  }
}

@media (min-width: 850px) {
  .mobileview {
    display: none;
  }
}
