$lightbackground: #0d3f5f;
$buttoncolor1: #5a3ac7;
$buttoncolor2: #4c40f8;
$buttondark: #082032;

$primarylight: #5988d4;
$primarydark: #2061cd;
$lightgrey: #72777e;
$lightwhite: #ffffff;
$lightblack: #2c394b;
