@use "../../css/colors" as *;
@use "../../css/values" as *;

.tips {
  min-height: 100vh;
  padding: calc(#{$navbarheight} + 2rem) 2rem 2rem 2rem;
  background-color: $lightbackground;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .wrapper {
    width: 100%;
    .card {
      width: 70%;
      margin: 1rem auto;
      padding: 2rem 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 1rem;
      box-shadow: 1rem 1rem 1rem 0rem rgb(2, 9, 36);
      background-color: rgb(252, 250, 223);
      font-weight: bold;
      .important {
        color: red;
      }
      .odigodi{
        color: rgb(54, 71, 206);
      }
      .icon{
        margin-left: -30px;
      }
    }
  }
  
  
}

@media (max-width: 900px) {
  .tips {
    .card {
      flex-direction: column-reverse;
      width: 85vw;
      padding: 2rem;

    }
  }
}

@media (max-width: 500px) {
  .tips {
    .card {
      padding: 1.2rem;

    }
  }
}
